@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@using Microsoft.AspNetCore.Http.Extensions
@{
    string pageUrl = Context.Request.GetDisplayUrl();
}

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link @(pageUrl.ToLower().Contains("account/manage") ? "nav-link-active" : string.Empty)"
                    asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">Vitajte @(User.Identity.Name.Substring(0, User.Identity.Name.IndexOf('@')))</a>
            </li>
            <li class="nav-item">
                <a id="logoutLink" href="#" class="nav-link">Odhlásiť</a>
            </li>
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            </form>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link @(pageUrl.ToLower().Contains("account/login") ? "nav-link-active" : string.Empty)"
                   asp-area="Identity" asp-page="/Account/Login">Prihlásenie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(pageUrl.ToLower().Contains("account/register") ? "nav-link-active" : string.Empty)"
                   asp-area="Identity" asp-page="/Account/Register">Registrácia</a>
            </li>
        }
    </ul>

<script>
    $("#logoutLink").on("click", function () {
        $("#logoutForm").submit();
    });
</script>
