@model QuizWebApp.ViewModels.PaginationViewModel<Contest>

@await Html.PartialAsync("_TableHeaderPartial", Model)

<br />

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                Názov súťaže
            </th>
            <th class="text-center">
                Akcie
            </th>
            <th class="text-center">
                Stav
            </th>
            <th class="text-center">
                QR
            </th>
        </tr>

    </thead>
    <tbody class="bg-white">
        @for (int i = 0; i < Model.Entities.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Html.DisplayFor(modelItem => Model.Entities[i].Name)</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@Model.Entities[i].Id">Upraviť</a> |
                    <a asp-action="Details" asp-route-id="@Model.Entities[i].Id">Zobraziť</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Entities[i].Id">Vymazať</a>
                </td>
                <td class="text-center">
                    @if (Model.Entities[i].IsActive)
                    {
                        <a asp-action="Activate" asp-route-id="@Model.Entities[i].Id" class="text-success font-weight-bold">Súťaž je aktívna</a>
                    }
                    else
                    {
                        <a asp-action="Activate" asp-route-id="@Model.Entities[i].Id" class="text-danger">Súťaž je neaktívna</a>
                    }
                </td>
                <td class="text-center">
                    <a asp-action="GenerateQRCodes" asp-route-id="@Model.Entities[i].Id" target="_blank">Vygenerovať QR kódy</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_TableFooterPartial", Model)