@model QuizWebApp.ViewModels.ContestViewModel

@{
    ViewData["Title"] = "Formulár";
}

<div class="form-bg">

    <h4>Súťaž</h4>
    <hr />
    <form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            @Html.LabelFor(a => a.ContestName, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(a => a.ContestName, new { @class = "form-control", required = "required" })
            @Html.HiddenFor(a => a.ContestId)
        </div>

        <hr />
        <div class="form-group">
            <h5>@Html.LabelFor(a => a.Questions, new { @class = "font-weight-bold" })</h5>
        </div>

        <h5>Vybraté otázky</h5>
        <div class="panel panel-primary">
            <div class="panel-body">
                <ul class="list-group">
                    @for (var i = 0; i < Model.SelectedQuestions.Count; i++)
                    {
                        <li class="list-group-item">
                            @Html.DisplayFor(a => a.SelectedQuestions[i].Key.Name)
                        </li>
                    }
                </ul>
            </div>
        </div>

        @if (Model.Warning)
        {
            <p class="text-danger font-weight-bold">Jedna alebo viac otázok obsahuje záznamy s odpoveďami od užívateľov.</p>
            <p class="text-danger">
                Ak naozaj chcete upraviť súťaž, musíte najprv
                <input asp-action="DeleteUserAnswers" type="submit" class="btn btn-danger" value="vymazať údaje" formmethod="post"
                       onclick="return confirm('Naozaj chcete vymazať odpovede používateľov pre túto súťaž ?')" />
                o odpovediach.
            </p>
        }
        else
        {
            <div class="form-group d-flex justify-content-center">
                <button asp-action="AddQuestion" type="submit" class="btn btn-dark" formmethod="post">
                    <i class="fas fa-angle-up"></i>
                </button>
                <span class="col-1"></span>
                <button asp-action="RemoveQuestion" type="submit" class="btn btn-dark" formmethod="post">
                    <i class="fas fa-angle-down"></i>
                </button>
            </div>

            <h5>Zoznam otázok</h5>
            <input class="form-control" id="searchField" type="text" placeholder="Vyhľadať otázku..">
            <br />
            <div class="panel panel-primary">
                <div class="panel-body">
                    <ul class="list-group list-group-all" id="questionList">
                        @for (var i = 0; i < Model.Questions.Count; i++)
                        {
                            <li class="list-group-item">
                                @Html.DisplayFor(a => a.Questions[i].Name)
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

        @if (Model.SelectedQuestions.Count == 0)
        {
            @Html.HiddenFor(a => a.SelectedQuestions)
        }

        @if (Model.Questions.Count == 0)
        {
            @Html.HiddenFor(a => a.Questions)
        }

        @for (int i = 0; i < Model.SelectedQuestions.Count; i++)
        {
            @Html.HiddenFor(a => a.SelectedQuestions[i].Value)
            @Html.HiddenFor(a => a.SelectedQuestions[i].Key.Id)
            @Html.HiddenFor(a => a.SelectedQuestions[i].Key.Name)
        }

        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            @Html.HiddenFor(a => a.Questions[i].Id)
            @Html.HiddenFor(a => a.Questions[i].Name)
        }

        @Html.HiddenFor(a => a.Warning)

        @Html.HiddenFor(a => a.SelectedQuestion, new { id = "selectedQuestion" })

        <br />
        <div>
            <a asp-action="Index">Späť na zoznam</a>
        </div>
        <br />

        <div class="form-group">
            <input asp-action="Create" type="submit" value="Uložiť" class="btn btn-primary" formmethod="post" />
        </div>
    </form>
</div>

<script>
    $(".list-group-item").on("click", function () {
        $(".list-group-item").removeClass('active');
        $(this).addClass('active');
        $("#selectedQuestion").val($(this).text().trim());
    });

    $("#searchField").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#questionList li").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>





