@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrácia";
}

@*
    ZDROJ:
    https://bootsnipp.com/snippets/j6r4X
*@

<aside class="row justify-content-center">
    <div class="card col-11 col-sm-10 col-md-8 col-lg-6">
        <article class="card-body">
            <a class="float-right btn btn-outline-primary" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Prihlásiť</a>
            <h4 class="card-title mb-4 mt-1">Registrácia</h4>

            <form asp-page-handler="Anonymous" method="post" class="form-horizontal">
                <p>
                    <button type="submit" class="btn btn-block btn-outline-secondary">Vytvoriť dočasný účet</button>
                </p>
            </form>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-block btn-outline-primary" name="provider" value="@provider.Name"> <i class="fab fa-facebook-f"></i>   Prihlásiť sa cez @provider.Name</button>
                            }
                        </p>
                    </form>
                }
            }
            <hr>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <ul>
                    <li id="emailexistuje" class="text-danger" style="display:none">Zadaný email už existuje</li>
                </ul>
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" id="emailInput" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input asp-for="Input.Password" class="form-control" placeholder="Heslo" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Potvrdenie hesla" />
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Registrovať  </button>
                </div>
            </form>
        </article>
    </div>
    @Html.AntiForgeryToken()

</aside>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" language="JavaScript">
        $(document).ready(function () {
            $('#emailInput').on('change', function () {
                var email = $("#emailInput").val();
                $.ajax({
                    type: "POST",
                    url: "/Identity/Account/Register?handler=Send",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: JSON.stringify(email),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response)
                            $("#emailexistuje").show();
                        else
                            $("#emailexistuje").hide();
                    }
                });
            })
        });
    </script>
}
