@model QuizWebApp.ViewModels.AnswersViewModel


<div class="form-group row">
    <div class="col">
        @Html.DropDownListFor(a => a.SelectedUser, new SelectList(Model.Users, 1), "-- používateľ --",
        new
        {
            id = "selectedUser",
            @class = "form-control selectpicker",
            data_live_search = "true",
            data_live_search_style = "startsWith",
            data_live_search_normalize = "true"
        })
    </div>
    <div class="col">
        @Html.DropDownListFor(a => a.SelectedContest, new SelectList(Model.Contests, 1), "-- súťaž --",
        new
        {
            id = "selectedContest",
            @class = "form-control selectpicker",
            data_live_search = "true",
            data_live_search_style = "startsWith",
            data_live_search_normalize = "true"
        })
    </div>
    <div class="col">
        <input id="filterAnswers" type="submit" value="Filtrovať" class="btn btn-light" />
    </div>
    <div class="col-auto">
        <form>
            <input type="submit" formmethod="post" value="Exportovať ako xlsx" class="btn btn-success"
                   asp-action="ExportDataToExcel" asp-route-userEmail="@Model.SelectedUser" asp-route-contestName="@Model.SelectedContest"
                   onclick="return confirm('Prajete si exportovať zoznam do excelu? (na základne zvoleného filtra)')" />
        </form>
    </div>
</div>

@await Html.PartialAsync("_TableHeaderPartial", Model.PaginationViewModel)

<br />

<table class="table table-striped table-responsive-sm">
    <thead class="thead-dark">
        <tr>
            <th style="width: 10%">
                #
            </th>
            <th style="width: 30%">
                Email
            </th>
            <th style="width: 20%">
                Súťaž
            </th>
            <th style="width: 30%">
                Otázka
            </th>
            <th class="text-center" style="width: 10%">
                Správne
            </th>
            @*<th>

            </th>*@
        </tr>

    </thead>
    <tbody class="bg-white">
        @if (Model.PaginationViewModel.Entities.Count == 0)
        {
            <tr>
                <td class="text-center" colspan="5">Nenašli sa žiadne záznamy.</td>
            </tr>
        }

        @for (int i = 0; i < Model.PaginationViewModel.Entities.Count; i++)
        {
            <tr>
                <td style="width: 10%">
                    @(Model.PaginationViewModel.PageLength * (Model.PaginationViewModel.CurrentPage - 1) + 1 + i)
                </td>
                <td style="width: 30%">
                    @Html.DisplayFor(a => a.PaginationViewModel.Entities[i].ApplicationUser.Email)
                </td>
                <td style="width: 20%">
                    @if (Model.PaginationViewModel.Entities[i].ContestQuestion.Contest.IsActive)
                    {
                        <span class="text-success">@Html.DisplayFor(a => a.PaginationViewModel.Entities[i].ContestQuestion.Contest.Name)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(a => a.PaginationViewModel.Entities[i].ContestQuestion.Contest.Name)
                    }
                </td>
                <td style="width: 30%">
                    @Html.DisplayFor(a => a.PaginationViewModel.Entities[i].ContestQuestion.Question.Name)
                </td>
                <td class="text-center" style="width: 10%">
                    @(Model.PaginationViewModel.Entities[i].IsAnsweredCorrectly ? "Áno" : "Nie")
                </td>
                @*<td class="text-center">
                    <input asp-action="FilterEntities" asp-route-answerToDelete="@i" type="submit" value="X" class="btn btn-dark" formmethod="post"
                           onclick="return confirm('Naozaj chcete odstrániť odpoveď ?')" />
                </td>*@
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_TableFooterPartial", Model.PaginationViewModel)


<script>
    $('.selectpicker').selectpicker('refresh');

    $("#filterAnswers").on("click", function () {
        updateTable();
    });    

    updateTable = function (pageNumber = 1) {

        var searchString = $("#searchInput").val();
        var pageLength = $("#pageLength").val();

        var userEmail = $("#selectedUser").val();
        var contestName = $("#selectedContest").val();

        console.log("override ajax call");

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetPartialViewData")',
            data: {
                'userEmail': userEmail,
                'contestName': contestName,
                'searchString': searchString,
                'pageLength': pageLength,
                'pageNumber': pageNumber
            },
            success: function (result) {
                $("#partial").html(result);
            },
            error: function () {
                alert('Error occurred');
            }
        });
    }
</script>