@model QuizWebApp.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Moje súťaže";
}

<h2>Súhrn účasti v súťažiach</h2>
<br />


<table id="dataTable" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                #
            </th>
            <th>
                Súťaž
            </th>
            <th class="text-center">
                Výsledok
            </th>
            <th class="text-center">
                Stav súťaže
            </th>
        </tr>

    </thead>
    <tbody class="bg-white">
        @for (int i = 0; i < Model.contests.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Html.DisplayFor(a => a.contests[i].Name)</td>
                <td class="text-center">
                    @if (Model.answersCount[i] == 0)
                    {
                        <span>Nenašiel sa záznam o odpovediach</span>
                    }
                    else if (Model.answersCount[i] == Model.contests[i].ContestQuestions.Count)
                    {
                        <div class="progress">
                            @if (Model.contests[i].isActive)
                            {
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: @(((double)Model.answersCount[i] / Model.contests[i].ContestQuestions.Count) * 100)%"
                                     aria-valuenow="@(((double)Model.answersCount[i] / Model.contests[i].ContestQuestions.Count) * 100)"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            }
                            else
                            {
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: @(((double)Model.answersCount[i] / Model.contests[i].ContestQuestions.Count) * 100)%"
                                     aria-valuenow="@(((double)Model.answersCount[i] / Model.contests[i].ContestQuestions.Count) * 100)"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            }

                        </div>

                        <span>
                            Výsledné skóre:
                            <span class="font-weight-bold">
                                @Model.correctAnswersCount[i]
                            </span>
                            /
                            <span class="font-weight-bold">
                                @Model.contests[i].ContestQuestions.Count
                            </span>
                        </span>

                    }
                    else
                    {
                        <div class="progress">
                            @if (Model.contests[i].isActive)
                            {
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: @(((double)Model.answersCount[i] / Model.contests[i].ContestQuestions.Count) * 100)%"
                                     aria-valuenow="@(((double)Model.answersCount[i] / Model.contests[i].ContestQuestions.Count) * 100)"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            }
                            else
                            {
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: @(((double)Model.answersCount[i] / Model.contests[i].ContestQuestions.Count) * 100)%"
                                     aria-valuenow="@(((double)Model.answersCount[i] / Model.contests[i].ContestQuestions.Count) * 100)"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            }

                        </div>
                        <span>Odpovedali ste na @Model.answersCount[i] z @Model.contests[i].ContestQuestions.Count otázok</span>
                    }
                </td>
                <td class="text-center">
                    @if (Model.contests[i].isActive)
                    {
                        <span class="text-success font-weight-bold">Súťaž práve prebieha</span>
                    }
                    else
                    {
                        <span>Súťaž skončila</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "language": {
                "lengthMenu": "",
                "zeroRecords": "Nenašli sa žiadne záznamy",
                "info": "",
                "infoEmpty": "Žiadne dostupné záznamy",
                "infoFiltered": "",
                "search": "Hľadať",
                "paginate": {
                    "first": "Prvá",
                    "last": "Posledná",
                    "next": "Nasledujúca",
                    "previous": "Predchádzajúca"
                }
            },
            "ordering": false,
            "searching": false
        });
    });
</script>