@model QuizWebApp.Models.ContestQuestion

@{
    ViewData["Title"] = "Otázka";
}

<h4>Otázka #@Model.QuestionNumber</h4>
<br />

<div class="questionBody">
    <div class="row justify-content-start questionDiv">
        <div class="col-auto my-auto question-font">
            @Html.Raw(Model.Question.Text)
        </div>
        <div class="col-auto my-auto">
            @if (Model.Question.Image != null)
            {
                <img src="~/uploads/images/@Model.Question.Image" class="img-fluid" width="300" alt="Obrázok otázky">
            }
        </div>
    </div>
    <hr />

    <form onsubmit="return checked()">

        @for (var i = 0; i < Model.Question.Answers.Count; i++)
        {
            <div class="row answerDiv" id="@i" onclick="divClick(this)" data-assigned-id="@i">
                <div class="col-1 col-sm-1 my-auto text-center">
                    <input type="radio" id="radio@(i)" name="UserAnswer" value="@i" class="big-radio" />
                </div>

                @if (Model.Question.Answers[i].Text == null)
                {
                    <div class="col-4 col-sm-4 answerDivImg my-auto">
                        <img src="~/uploads/images/@Model.Question.Answers[i].Image" class="img-fluid cold-auto my-auto" width="200" alt="Obrázok odpovede">
                    </div>
                }
                else
                {
                    @if (Model.Question.Answers[i].Image == null)
                    {
                        <div class="col-10 col-sm-10 my-auto">
                            @Html.DisplayFor(model => model.Question.Answers[i].Text)
                        </div>
                    }
                    else
                    {
                        <div class="col-7 col-sm-7 my-auto">
                            @Html.DisplayFor(model => model.Question.Answers[i].Text)
                        </div>

                        <div class="col-4 col-sm-4 answerDivImg my-auto">
                            <img src="~/uploads/images/@Model.Question.Answers[i].Image" class="img-fluid cold-auto my-auto" width="200" alt="Obrázok odpovede">
                        </div>
                    }
                }
            </div>
            <br />
        }

        @Html.HiddenFor(a => a.Id)

        <div class="form-group">
            <input asp-action="QuestionForm" asp-controller="Users" type="submit" class="btn btn-primary" value="Odoslať" formmethod="post"/>
        </div>
    </form>
</div>


<script>
    function divClick(elem) {
        var id = $(elem).data('assigned-id');
        
        var divs = document.getElementsByClassName("answerDiv");
        var len =  divs.length;

        for(var i=0 ; i<len; i++){
           divs[i].style.backgroundColor="white";
        }

        document.getElementById(id).style.backgroundColor = "#e1e5ea";

        document.getElementById("radio" + id).checked = true;
    }

    function checked() {

        var divs = document.getElementsByClassName("answerDiv");
        var len =  divs.length;

        for (var i = 0; i < len; i++) {
            var radio = document.getElementById("radio" + i);
            if (radio.checked == true) {
                return true;
            }
        }
        alert("Označte odpoveď !");
        return false;
    }
</script>