@model QuizWebApp.ViewModels.UserListViewModel


@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Odpovede";
    int offset = 0;
}

<h2>Zoznam používateľov</h2>

<hr />

<form method="post" >
    <input asp-action="RemoveExpiredUsers" type="submit" class="btn btn-danger" value="Vymazať exspirované účty"
           onclick="return confirm('Naozaj si prajete vymazať všetky expirované účty?')" />

    <input asp-action="RemoveTemporaryUsers" type="submit" class="btn btn-danger" value="Vymazať dočasné účty"
           onclick="return confirm('Naozaj si prajete vymazať všetky dočasné účty?')" />
</form>

<br />

<form>
    @for (int i = 0; i < Model.RoleNames.Count; i++)
    {
        <h3>@Model.RoleNames[i]</h3>
        <table class="table table-striped table-responsive-sm">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 50%">Email</th>
                    <th style="width: 10%; text-align: center">Zmeniť práva</th>
                    <th style="width: 20%; text-align: center">Expiruje</th>
                    <th style="width: 5%; text-align: center"></th>
                </tr>
            </thead>
            <tbody class="bg-white">
                @for (int j = offset; j < Model.RolesCount[i] + offset; j++)
                {
                    <tr>
                        <td style="width: 5%">
                            @(j - offset + 1)
                        </td>
                        <td style="width: 50%">
                            @Html.DisplayFor(a => a.UserList[j].Email)
                        </td>
                        <td style="width: 10%; text-align: center">
                            @if (Model.RoleNames[i] == "Používatelia" && !Model.UserList[j].IsTemporary)
                            {
                                <button asp-action="PromoteUser" asp-route-id="@Model.UserList[j].Id" type="submit" formmethod="post" class="btn"
                                        onclick="return confirm('Naozaj chcete zvýšiť práva používateľa @Model.UserList[j].Email?')">
                                    <i class="fas fa-arrow-up"></i>
                                </button>
                            }
                            @if (Model.RoleNames[i] == "Moderátori")
                            {
                                <button asp-action="DemoteUser" asp-route-id="@Model.UserList[j].Id" type="submit" formmethod="post" class="btn"
                                        onclick="return confirm('Naozaj chcete znížiť práva používateľa @Model.UserList[j].Email?')">
                                    <i class="fas fa-arrow-down"></i>
                                </button>
                            }                            
                        </td>
                        <td style="width: 20%; text-align: center">
                            @if (Model.UserList[j].IsTemporary)
                            {
                                @Model.UserList[j].RegistrationDate.Value.AddDays(14).ToShortDateString()
                            }
                        </td>
                        <td style="width: 5%; text-align: center">
                            @if (Model.RoleNames[i] != "Administrátori")
                            {
                            <button asp-action="DeleteUser" asp-route-id="@Model.UserList[j].Id" type="submit" formmethod="post" class="btn"
                                        onclick="return confirm('Naozaj chcete vymazať používateľa @Model.UserList[j].Email?')">
                                    <i class="fas fa-times text-danger"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        offset += Model.RolesCount[i];
    }
</form>

