@model QuizWebApp.Models.Question

@{
    ViewData["Title"] = "Upraviť";
}

<div class="form-bg">

    <h4>Upravenie otázky</h4>
    <hr />
    <form asp-action="UploadImage" asp-route-editing="true" id="myForm" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-5">
                @Html.LabelFor(a => a.Name, new { @class = "font-weight-bold" })
                @Html.TextBoxFor(a => a.Name, new { @class = "form-control", id = "questionName" })
                <span id="questionNameValidation" class="text-danger"></span>
				<span id="nazovExistuje" class="text-danger" style="display:none">Zadaný názov otázky už existuje.</span>
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.HiddenFor(a => a.Id, new { id = "questionID" })
            @Html.LabelFor(a => a.Text, new { @class = "font-weight-bold" })
            @Html.TextAreaFor(a => a.Text, new { id = "questionTextArea" })
            <span id="textAreaValidation" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-4 my-auto">
                @Html.HiddenFor(a => a.Image)
                <input type="file" name="qImage" class="form-control-file" />
            </div>

            @if (Model.Image != null)
            {
                <div class="col-2 my-auto">
                    <img src="~/uploads/temps/@Model.Image" width="100" class="img-thumbnail img-fluid" alt="Obrázok otázky">
                </div>
                <div class="col-1 my-auto">
                    <input asp-action="RemoveImage" asp-route-img="@Model.Image" asp-route-editing="true" type="submit" value="X" class="btn btn-dark" formmethod="post"
                           onclick="return confirm('Naozaj chcete odstrániť obrázok ?')" />
                </div>
            }

        </div>

        <hr />

        <div class="form-group">
            <h5>@Html.LabelFor(a => a.Answers, new { @class = "font-weight-bold" })</h5>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-1"></div>
                <div class="col-7 my-auto">
                    <span class="font-weight-bold">Text a obrázok odpovede</span>
                    @*Html.LabelFor(a => a.Answers[0].Text, new { @class = "font-weight-bold" })*@
                </div>
                <div class="col my-auto">
                    @*Html.LabelFor(a => a.Answers[0].Image, new { @class = "font-weight-bold" })*@
                </div>
            </div>
        </div>

        <div class="form-group">

            @for (var i = 0; i < Model.Answers.Count; i++)
            {
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-1 my-auto">
                            @if (Model.Answers[i].IsCorrect)
                            {
                                <input type="radio" name="IsCorrect" value="@i" class="big-radio" checked="checked" />
                            }
                            else
                            {
                                <input type="radio" name="IsCorrect" value="@i" class="big-radio" />
                            }
                        </div>
                        <div class="col-11 col-md-9 my-auto">
                            @Html.TextAreaFor(a => a.Answers[i].Text, new { @class = "answerTextArea" })
                            <span id="answerTextValidation@(i)" class="text-danger"></span>
                        </div>
                        @if (Model.Answers[i].Image != null)
                        {
                            <div class="col-1 d-md-none"></div>
                            <div class="col-2 col-md-1 my-auto">
                                <img src="~/uploads/temps/@Model.Answers[i].Image" width="50" class="img-thumbnail img-fluid" id="answerImage@(i)" alt="Obrázok odpovede">
                            </div>
                            <div class="col-1 col-md-1 my-auto">
                                <input asp-action="RemoveImage" asp-route-img="@Model.Answers[i].Image" asp-route-editing="true" type="submit" value="X" class="btn btn-dark" formmethod="post"
                                       onclick="return confirm('Naozaj chcete odstrániť obrázok ?')" />
                            </div>
                        }
                    </div>
                    <div class="form-row">
                        <div class="col-1 my-auto"></div>
                        <div class="col my-auto">
                            <input type="file" name="@i" class="form-control-file" />
                        </div>
                    </div>

                    @Html.HiddenFor(a => a.Answers[i].Id)
                    @Html.HiddenFor(a => a.Answers[i].Image)
                    @Html.HiddenFor(a => a.Answers[i].IsCorrect)
                </div>                
            }
        </div>

        <br />

        <div class="form-group">
            <input asp-action="AddAnswer" asp-route-editing="true" type="submit" value="Pridať odpoveď" class="btn btn-add-answer btn-light" formmethod="post" />
            @if (Model.Answers.Count > 2)
            {
                <input asp-action="RemoveAnswer" asp-route-editing="true" type="submit" value="Odstrániť odpoveď" class="btn btn-rm-answer btn-danger" formmethod="post"
                       onclick="return confirm('Naozaj chcete odstrániť odpoveď ?')" />
            }
        </div>

        <div class="form-group">
            <input asp-action="EditSave" type="submit" value="Uložiť" class="btn btn-primary" formmethod="post" onclick="return validate();" />
        </div>
    </form>

    <div>
        <a asp-action="Index">Späť na zoznam</a>
    </div>

</div>

<script>
    tinymce.init({
        selector: '#questionTextArea',
        forced_root_block: "",
        menubar: false,
        toolbar: 'undo redo bold italic alignleft aligncenter alignright outdent indent code',
        plugins: 'code',
        init_instance_callback: function (editor) {
            editor.on('Change', function (e) {

                var content = $.trim(editor.getContent({ format: 'text' }));

                if (content.length == 0) {
                    $('#textAreaValidation').text("Otázka musí mať vyplnený text.");
                }
                else {
                    $('#textAreaValidation').text("");
                }
            });
        }
    });

    tinymce.init({
        selector: '.answerTextArea',
        menubar: false,
        height: 150,
        forced_root_block: "",
        toolbar: 'undo redo bold italic alignleft aligncenter alignright outdent indent code',
        plugins: 'code',
        init_instance_callback: function (editor) {
            editor.on('Change', function (e) {

                let dataID = editor.settings.id;
                let index = dataID.match(/\d+/)[0];

                var editorContent = $.trim(editor.getContent({ format: 'text' }));
                if (editorContent.length > 0 || $('#answerImage' + index).length > 0) {
                    $('#answerTextValidation' + index).text("");
                }
                else {
                    $('#answerTextValidation' + index).text("Odpoveď musí mať text alebo obrázok.");
                }
            });
        }
    });

    $('input[type=file]').change(function () {

        $('#myForm').submit();

    });

    $("#questionName").change(function () {

        if ($.trim($(this).val()).length == 0) {
            $('#questionNameValidation').text("Otázka musí mať názov.");
        }
        else {
            $('#questionNameValidation').text("");
        }

    });


    function validate() {
        var isValid = true;

        var editorContent = $.trim(tinyMCE.get('questionTextArea').getContent({ format: 'text' }));
        if (editorContent.length == 0) {
            $('#textAreaValidation').text("Otázka musí mať vyplnený text.");
            isValid = false;
        }

        if ($.trim($("#questionName").val()).length == 0) {
            $('#questionNameValidation').text("Otázka musí mať názov.");
            isValid = false;
        }

        var i = 0;
        $(".answerTextArea").each(function () {

            var editorContent = $.trim(tinyMCE.get('Answers_' + i + '__Text').getContent({ format: 'text' }));
            if (editorContent.length == 0 && $('#answerImage' + i).length == 0) {
                $('#answerTextValidation' + i).text("Odpoveď musí mať text alebo obrázok.");
                isValid = false;
            }
            i++;

        });

        if ($('#nazovExistuje').is(':visible')) {
            isValid = false;
        }

        if (isValid == false) {
            alert("Vyplňte prosím všetky požadované polia.");
        }

        return isValid;
    }

    $(document).ready(function () {
        $('#questionName').on('change', function () {
            var question = $("#questionName").val();
            var questionID = $("#questionID").val();
            $.ajax({
                type: "POST",
                url: "/questions/checkquestionname",
                data: { 'questionName' : question, 'questionID' : questionID },
                dataType: "json",
                success: function (response) {
                    if (response)
                        $("#nazovExistuje").show();
                    else
                        $("#nazovExistuje").hide();
                }
            });
        })
    });

</script>