@model QuizWebApp.Models.Question

@{
    ViewData["Title"] = "ErrorOnEdit";
}

<div class="form-bg">

    <h4>Upravenie otázky</h4>
    <hr />
    <div class="row">
        <div class="col-5">
            @Html.LabelFor(a => a.Name, new { @class = "font-weight-bold" })
            @Html.TextBoxFor(a => a.Name, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <br />
    <div class="form-group">        
        @Html.LabelFor(a => a.Text, new { @class = "font-weight-bold" })
        @Html.TextAreaFor(a => a.Text, new { id = "questionTextArea"})
    </div>

    <form>
        @Html.HiddenFor(a => a.Id)
        <p class="text-danger font-weight-bold">Pre túto otázku existujú záznamy o odpovediach.</p>
        <p class="text-danger">
            Úprava otázky neovplyvní existujúce záznamy kým ich
            <input asp-action="DeleteUserAnswers" type="submit" class="btn btn-danger" value="nevymažete" formmethod="post"
                   onclick="return confirm('Naozaj chcete vymazať odpovede ?')" />
            a nevytvoríte nanovo.
        </p>
        <br />
        <p>
            Ak nechcete zasahovať do existujúcich záznamov môžete
            <input asp-action="Edit" asp-route-id="@Model.Id" asp-route-forceedit="true" type="submit" class="btn btn-secondary" value="pokračovať s úpravami" formmethod="post"/>
        </p>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<script>
    tinymce.init({
        selector: '#questionTextArea',
        readonly: 1
    });
</script>

